div #TitleSubText{
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0em;
    padding: 0em;
    background: linear-gradient(to right, orange, green);
}

 .ActionButton{
    padding: 2em;
    background: linear-gradient(to right, aliceblue, lightblue);
    width: 100%;
}

.NumberButton{
    padding: 2em;
    align-items: center;
    background: linear-gradient(to right, aliceblue, lightblue);
    width: 100%;
}

.OperationButton{
    padding: 2em;
    background-color: aqua;
    background: linear-gradient(to right, aliceblue, lightblue);
    width: 100%;
}

button{
    font-weight: 900;
    font-size: 1em
}

button:hover{
    opacity: 80%;
    background: linear-gradient(to right, lightblue, cadetblue);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

table#Grid {
    padding: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-break: break-all;
}

/*Still cannot figure out why bug occurs*/
th.NumberDisplay{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0.2em;
    text-align: left;
    background: -moz-linear-gradient(left, black, gray);
    color: antiquewhite;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

th.SecondDisplay{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0.2em;
    text-align: left;
    background: -moz-linear-gradient(left, black, gray);
    color: antiquewhite;
    overflow: hidden;
    word-break: break-all;
}

td{
    padding: 0em;
    background: linear-gradient(to right, aliceblue, lightblue);
    align-items: center;
}

tr{
    position: relative;
    align-items: center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

footer{
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: 0%;
    background: linear-gradient(to right, orange, green);
    height: auto;
  }

footer p#FooterText{
    display: inline;
    text-align: left;
    float: left;
    padding: 0.2em;
}

footer p#CopyrightFooterText{
    display: inline;
    text-align: right;
    float: right;
    padding: 0.2em;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }