div #TitleSubText{
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0em;
    padding: 0em;
    background: linear-gradient(to right, orange, green);
}

 .ActionButton{
    padding: 1em;
    background-color: aqua;
    border:0.1em solid black;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

table#Grid {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

th{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: aliceblue;
}

td{
    padding: 1em;
    background: linear-gradient(to right, aliceblue, lightblue);
}